$blue: #aaa;

html, body, div, span, object, iframe,
h1, h2 , h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s,
samp, small, strike, strong, sub, sup, tt, 
var, b, u, i, center, dl, dt, dd, ol, ul, 
li, fieldset, form, label, legend, table, 
caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	border: 0;
	outline: 0;
	background: transparent;
}

ol, ul {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

hr, .hide {
	display: none;
}

a img {
	border: none;
}

.group:after {
	content:".";
	display:block;
	clear:both;
	visibility:hidden;
	line-height:0;
	height:0;
}

body {
	font-family: 'Open Sans', sans-serif;
	background: $blue;
}

a:link, a:visited {
	outline: none;
	text-decoration: none;
}

.container {
	max-width: 2048px;
	width: 83.333%;
	margin-left: auto;
	margin-right: auto;
}
/***********************************************/

.recordBlock {
	width: 37%;

	#recordIndicator {
		width: 20px;
		height: 20px;
		border: 1px solid black;
		border-radius: 50%;
		position: absolute;
		left: 75px;
		top: 47px;
	}	

	li {
		padding-bottom: 10px;
	}

	audio {
		padding-right: 10px;
	}
}

h1, h2 {
	color: $blue;
	padding: 10px;
}

#tutorial {
	border: 1px solid #000;
	float: right;
	position: absolute;
	top: 50px;
	left: 530px;
}

.btn {
	cursor: pointer;
	border: 0px;
	font-weight: 700;
	font-size: 0.9em;
	display: inline-block;
	vertical-align: top;
    border-radius: 10px;
    -webkit-box-shadow: 0px 1px 3px #666666;
       -moz-box-shadow: 0px 1px 3px #666666;
            box-shadow: 0px 1px 3px #666666;
    color: #ffffff;
    background: #65839B;
    padding: 8px 15px;
    text-decoration: none;
}
.btn:active {
	background-color: white;
}
.btn:hover {
    background: #3cb0fd;
    text-decoration: none;
}
.btn:disabled {
	cursor: default;
}

